@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-user {
max-width: 132px;
margin-left: auto;
}

.button-header {
  width: 160px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-page-header-text {
  display: block;
  margin: 0 auto;
}


.content {
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link, .catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.main-page-header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sorting-title {
  width: 354px;
  margin-right: 184px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.view-buttons {
  width: 160px;
  margin-left: auto;
}

.transition-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.transition-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-title, .offers-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: inherit;
}

.advantages-item, .offers-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 142px;
  margin-right: 42px;
}

.html-contact {
  margin-left: auto;
  max-width: 115px;
}

.blue {
display: flex;
background-color: rgba(130, 179, 211, 1);
color: #ffffff;
width: 1200px;
}

.grey {
background-color: rgba(131, 179, 211, 0.2);
}

.white {
  background-color: inherit;
}

.newsletter {
  width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/Subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscribe {
  color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.blue-background {
  background-color: #82B3D3;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.catalog-filters {
  width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filter {
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
}

.form-payment {
  width: 288px;
}

.sorting {
  width: 1060px;
  margin: 0 70px;
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filters-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.control-input {
  line-height: 23px;
}

.no-background {
  background-color: inherit;
}

.button-view {
  background-color: #ffffff;
}

.button-view-chosen {
  background-color: #ffffff;
}

.product-list {
  margin: 0 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.product-card {
  width: 340px;
  background-color: #ffffff;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  padding: 0;
  margin: 0 70px;
}



.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
}

.transition {
  text-align: center;
}
